<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebSocket</title>
</head>
<body>

    <!-- Scripts bellow -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="{{url_for('static', filename='post.js')}}"></script>

    <form id="toggle_em" method="POST" action="">
        <input type="submit" value="Toggle Electromagnet (off)">
    </form>
</body>
</html>